[submodule "blog/themes/kiss"]
	path = blog/themes/kiss
	url = https://github.com/ribice/kiss
[submodule "blog/themes/er"]
	path = blog/themes/er
	url = https://github.com/lingxz/er
[submodule "blog/themes/hugo-paper"]
	path = blog/themes/hugo-paper
	url = https://github.com/nanxiaobei/hugo-paper
[submodule "blog/themes/hugo-dusk"]
	path = blog/themes/hugo-dusk
	url = https://github.com/gyorb/hugo-dusk
